@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Kpop Lyrics!</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_b49Zmsfn3o?si=kicyAOaEeVLWjUwq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>Welcome to the webpage with Kpop songs and lyrics in english pronunciation.</p>
    <p><button onclick="myMove()">Click Me</button></p> 
    <div id="myContainer">

        <div id="myAnimation"></div>
    </div>

